@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0f1e;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-blue-600;
  }
}
